body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* loader start */
.loader {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid green;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* loader end */

/* end of scrolling  */
.end{
  margin: auto;
  font-size: 35px;
  font-weight: bolder;
  color: red;
}

.heading {
  text-align: center;
}

.infinite-scroll-component {
  display: flex;
  flex-wrap: wrap;
  overflow: unset !important;
}

/* card or college details */
.card {
  width: 47vw;
  height: 60vh;
  padding: 2px;
  border-radius: 3.8px;
  box-shadow: 0 0 19px 0 rgba(68, 68, 68, 0.1);
  border: solid 0.2px #444444;
  background-color: #ffffff;
  margin: 24px 6px;
}

/* card header tag,promoted,best */
.card_header {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  background: url("./assets/images/college_02.jpg") no-repeat center;
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.71);
  background-size: cover;
  justify-content: space-between;
}

.header_right {
  display: flex;
  flex-direction: column;
  color: #faf6f6;
  text-transform: uppercase;
}

.header_promoted {
  width: 140px;
  height: 33px;
  background-color: #6f9edf;
  transform: translate(0px, -17px);
  align-self: flex-end;
  font-size: 15px;
  font-weight: 400;
  clip-path: polygon(100% 0,100% 100%,0 100%,15% 50%,0 0);
}

.header_rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 78px;
  height: 53px;
  border-radius: 3.8px;
  background-color: #f5a626;
  align-self: flex-end;
  font-size: 13px;
  line-height: 1.33;
}

.rating_bold {
  font: weight 800;
  font-size: 23px;
}

.rating_bold1 {
  font-weight: 400;
  font-size: 14px;
}

.header_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444444;
}

.header_tags {
  display: flex;
  padding: 10px;
  font-size: 13.5px;
  line-height: 1.33;
}

.best,
.distance {
  width: 155px;
  height: 34px;
  border-radius: 16px;
  background-color: #ffffff;
  margin-right: 10px;
  text-transform: capitalize;
}

.flex-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_number 
.number_text {
  font-size: 13px;
  line-height: 1.33;
  color: #ffffff;
  margin-right: 10px;
}

/* College details start */
.card_body {
  width: 100%;
  display: flex;
}

.description_college-name {
  margin: 10px 0px 7px 10px;
}

.description_location-row {
  margin: 0 0 17px 10px;
}

.description_match-row {
  margin: 0 0 12px 10px;
}

.body_description 
.description_college-name 
span.college-name {
  margin-right: 15px;
  font-size: 17.5px;
  font-weight: 500;
  color: black;
}

.ratings 
.hollow-star {
  color: #adadad;
}

.description_location-row 
.location {
  font-size: 13.5px;
  font-weight: 400;
  color: black;
}

.description_location-row 
.nearest-location {
  font-size: 13.3px;
  font-weight: 400;
  color: #ada6a6;
}

.description_match-row {
  font-weight: 700;
  font-size: 13.5px;
  width: 110%;
}
.match {
  color: #37b396;
}

.distance-from {
  color: #444444;
}

.grey-text {
  color: #adadad;
  text-align: left;
}

.description_offer-row {
  padding: 0 0 5px 10px;
  background: #ccf5e7;
  border-radius: 0 10px 10px 0;
}

.offers {
  font-size: 14px;
  font-weight: bold;
}
.flat {
  color: #444444;
  font-weight: normal;
}

.price {
  color: #4bb89e;
  font-weight: 500;
}

.login-text {
  color: #1999d2;
  font-weight: bold;
  text-transform: uppercase;
}

.body_price-section {
  margin-left: 35px;
  width: 165px;
}

.original_price {
  font-size: 11px;
  line-height: 1.64;
  color: #444444;
  letter-spacing: 2px;
  text-decoration: line-through;
}

.original-price_row {
  display: flex;
  justify-content: center;
  margin: 10px 0px 7px 10px;
  align-items: center;
}

.original_price {
  margin-right: 7px;
  font-weight: 500;
}

.discount-label {
  width: 35px;
  background: #dd1c26;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  clip-path: polygon(28% 0,100% 0,100% 98%,28% 100%,0 50%);
}

.discounted-price-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.discounted-price {
  font-size: 28.5px;
  font-weight: bold;
  color: #dd1c26;
}

.per-semester {
  font-size: 12px;
  color: #444444;
}

.features {
  width: 100%;
  display: flex;
  font-size: 12.7px;
  color: #37b396;
  font-weight: bold;
  justify-content: space-evenly;
  align-items: center;
}

/* college details end */
